
<div class="col-md-12"><br>
<div class="row">
        <div class="col-md-5 form-group">
            <label>Razão Social</label>
            <input type="text" ng-model="ctrl.ProximaLigacao.RAZAO" class="form-control">
        </div>
        <div class="col-md-4 form-group">
            <label>Nome Fantasia</label>
            <input type="text" ng-model="ctrl.ProximaLigacao.FANTASIA" class="form-control">
        </div>
        <div class="col-md-3 form-group">
            <label>Contato</label>
            <input type="text" readonly ng-model="ctrl.ProximaLigacao.NOME_CONTATO" class="form-control">
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 form-group">
            <label>CPF/CNPJ</label>
            <input type="text" ng-model="ctrl.ProximaLigacao.CPF_CNPJ" wt-easy-mask="cnpj" class="form-control">          
        </div>
        <div class="col-md-3 form-group">
            <label>RG/Inscrição Estadual</label>
            <input type="text" ng-model="ctrl.ProximaLigacao.IE_RG" wt-easy-mask="9999999999" class="form-control">
        </div>
        <div class="col-md-2 form-group">
            <label>Tipo Pessoa</label>
            <select class="form-control" ng-model="ctrl.ProximaLigacao.PESSOA">
                <option value=""></option>
                <option value="FIS">Física</option>
                <option value="JUR">Jurídica</option>
            </select>
        </div>
        <div class="col-md-2 form-group">
            <label>Código ERP</label>
            <input type="text" readonly ng-model="ctrl.ProximaLigacao.COD_ERP" class="form-control" 
               style="font-style: unset; font-size: 15px; color: red;font-weight:bold;">
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 form-group">
            <label>Campanha</label>
            <input type="text" readonly ng-model="ctrl.ProximaLigacao.DadosLigacao.CAMPANHA"
                   class="form-control">
        </div>
        <div class="col-md-4 form-group">
            <label>Carteira</label>
            <input type="text" readonly ng-model="ctrl.ProximaLigacao.DadosLigacao.CARTEIRA"
                   class="form-control">
        </div>
        <div class="col-md-2 form-group">
            <label>Data do Cadastro</label>
            <input type="date" readonly ng-model="ctrl.ProximaLigacao.DATACAD" wt-iso-date class="form-control">
        </div>
        <!--<div class="col-md-2 form-group">
            <label>Exceção</label>
            <p class="geral">Não</p>
        </div>-->
    </div>
    <div class="row">
        <div class="col-md-2">
           <p class="fonte_08">{{ctrl.MenuSelecionado}}</p>
        </div>

        <div ng-show="ctrl.MenuSelecionado == 'COMPRAS'">
         <div class="col-md-10">
            <p class="fonte_SaldoCompra">{{ctrl.ProximaLigacao.COMPRADisplay}}</p>
         </div>         
       </div>
</div>

</div>